<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="ejs.min.js"></script>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <style>
      .a2{background: silver}
    </style>
  </head>
  <body>
    <header>
      <div class="nav">
        
      <ul>
        <li class="a1">Book Exchange</li>
        <li class="a2"><a href="https://far-sale.glitch.me/views/index.html">Books</a></li>
        <li class="a3"><a href="https://far-sale.glitch.me/views/requests.html">Requests</a></li>
        <li class="a4"><a href="https://far-sale.glitch.me/views/trades.html">Trades</a></li>
        <li class="a5"><a href="https://far-sale.glitch.me/views/users.html">Users</a></li>        
      </ul>
      </div>
      <ul class="d">
        <li class="login"><a href="https://far-sale.glitch.me/views/login.html">Login</a></li>
      </ul>
    </header>

      <div class="book1">
        <p class="list ">            
          <strong>Books</strong> <v>available for trade </v>
        </p>  
      </div>
       
    <main>
      <div class="b4t">
        
          <!--<%= title %>--> 
            <% for(var i=0; i < title.length; i++) { %>
 <div class="row"><div class="col-xs-2"> <input type="checkbox" name="check" value="a"+i /></div>
   <div class="col-xs-10"> <b><%= title[i][0] %></b><br /> <%= title[i][1] %><br />
       from <a href="https://far-sale.glitch.me/views/profile.html?user=<%= title[i][2] %>"><%= title[i][2] %></a> in <%= title[i][3] %></div></div>
            <% } %>
            <% if(title.length==0) { %>
 <div class="row"> <div class="col-xs-2"> <input type="checkbox" disabled /></div>
   <div class="col-xs-10">Currently there are no books available for trade</div> </div>            
            <% } %>
     <div class="b4t2">
        
        <button class="login"><a href="https://far-sale.glitch.me/views/login.html">Login to Add and Submit Requests</a></button>
              
      </div>              
      </div>
        
    </main>




  </body>
</html>
